<?xml version="1.0"?>

<launch>

  <arg name="laser_enabled" default="true"/>
  <arg name="realsense_enabled" default="true"/>

  <include file="$(find heat_map)/launch/playpen.launch" />

  <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="realsense_enabled" value="$(arg realsense_enabled)"/>
    <arg name="x" value="0"/>
    <arg name="y" value="0"/>
    <arg name="z" value="0.18"/>
  </include>
    <include file="$(find heat_map)/launch/view_robot.launch" />
    <include file="$(find heat_map)/launch/gmapping_demo.launch" />
    <node pkg="heat_map" name="tf_publisher" type="tf_publisher.py" output="screen"/>
    <include file="$(find darknet_ros)/launch/darknet_ros.launch" />
</launch>