<?xml version="1.0"?>

<launch>

  <include file="$(find heat_map)/launch/empty_world.launch">
<!--    <arg name="world_name" value="$(find heat_map)/worlds/mathias_world_new_map.world"/> 
    <arg name="world_name" value="$(find heat_map)/worlds/mathias_world_eight_rooms.world"/>
    <arg name="world_name" value="$(find heat_map)/worlds/mathias_world_blender.world"/>
    <arg name="world_name" value="$(find heat_map)/worlds/mathias_world_colored_blender.world"/>
    <arg name="world_name" value="$(find heat_map)/worlds/eight_comodos.world"/>
    <arg name="world_name" value="$(find heat_map)/worlds/six_rooms.world"/>      
    <arg name="world_name" value="$(find heat_map)/worlds/six_rooms_orientation.world"/>
    <arg name="world_name" value="$(find heat_map)/worlds/six_rooms_orientation_mugs_right.world"/> --> 
    <arg name="world_name" value="$(find heat_map)/worlds/six_rooms_orientation.world"/>
    
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

</launch>
